.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron {
    background-image: url(vietnam-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 25%;
    background-position-y: -260px;
    position: relative;
}

.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-shadow: 1px 1px black;
 }

.img_responsive {
     height: auto;
     width: 100%;
     position: relative;
     text-align: center;
 }

a:hover .img_responsive {
    opacity: 0.3;
}

.hovertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
}